header {
  text-align: center;
  background: #232323;
  color: white
}

header a {
  color: white;
}

header ul {
  padding: 10px;
  background: rgba(0,0,0,.5);
}
header li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

h2 {
  text-align: center;
}

#contact{
  text-decoration: none;
}

